@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tule õppima TTHKse <a href="https://www.tthk.ee/">noorem tarkvaraarendajaks!</a>.</p>
</div>